.chat-container{
    max-height: 400px;
    overflow: auto !important;
    position: relative;
    width: 100%;
}

.title{
    text-align: center;
    color: #FFFFFF;
    width: 100%;
}

.chat-container .chat-item{
margin: 12px 0;
}

.me,.other{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.other{
    justify-content: flex-start;
}

.me-message{
    color: #fff;
    margin-right: 12px;
}

.other-message{
    color: #fff;
    margin-left: 12px;
}


.name{
    float: left;
    color: #282c34;
}

.chat-img{
    width: 80px;
    margin-left: 12px;
}

.chat-img-me{
    width: 80px;
    margin-right: 12px;
}

.input-wrapper{
    display: flex;
}

.chat-input > #bootstrap-input {
    border-radius: 4px 0 0 4px;
}

.add-icon{
    width: 41px;
    height: 41px;
    margin-top: 24px;
    cursor: pointer;
}