.meetingRooms {
	width: 80%;
	display: flex;
	flex-direction: column;
	margin: auto;
}

.header {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.header img {
	margin-right: 20px;
}

.meetingRooms__main {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
