ul{
    list-style: none;
}

li{
    list-style: none;
}

.side-menu {
    position: fixed;
    height: 100%;
    width: 250px;
    background-color:rgb(65, 48, 212);
    box-sizing: border-box;
    padding: 200px 20px 0 20px;
    transition: 150ms;
    border-radius: 0px 20px 20px 0px;
    z-index: 1;
}

.side-menu.inactive{
    width: 60px;
}

.side-menu .top-section{
    position: relative;
    top: -150px;
}

.side-menu .top-section .toggle-menu-btn{
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 0px;
    right: -10px;    
    transform: translateX(-50%) 
}

.side-menu .main-menu .menu-item{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    display: block;
    font-weight: 600;
    position: relative;
    padding: 20px 0 0 0;
    

}

.side-menu .main-menu .menu-item span{
    position: absolute;
    display: inline-block;
    line-height: 40px;
    opacity: 1;
    transition: opacity .2s ease-in;
    left: 80px;
    bottom: 2px;
}

.side-menu.inactive .main-menu .menu-item span{
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.side-menu .main-menu .menu-item .menu-icon{ 
    display: inline-block;
    height: 40px;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    right: 47px;
    color: #fff;
    padding: 24px 20 20 0;
    position: relative;
}

.side-menu.inactive .main-menu .menu-item .menu-icon{
    display: inline-block;
    height: 40px;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
    position: static;
}

.side-menu .main-menu .menu-item .menu-icon .iconlink{
    color: rgb(255, 255, 255);
}

.side-menu .main-menu .menu-item .textlink{
    color: rgb(255, 255, 255);
}

.side-menu .main-menu{
    margin: 5px 0;
    
}

.footer{
    width: 100%;
    height: 150px;
    background-color:rgb(65, 48, 212);
    position: absolute;
    bottom: 0px;
    left: 0;
    border-radius: 0px 0px 20px;
}

.footer .bottom-menu{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    display: block;
    font-weight: 600;
    position: relative;
}

.side-menu .footer .bottom-menu span{
    position: absolute;
    display: inline-block;
    line-height: 40px;
    opacity: 1;
    transition: opacity .2s ease-in;
    left: 100px;
    bottom: 2px;
    padding: 40px 0 0 0;
}

.side-menu.inactive .footer .bottom-menu span{
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.bottom-icon{
    display: inline-block;
    height: 39px;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    right: 47px;
    padding: 25px 0 0 0;
    position: relative;
}

.side-menu.inactive .footer .bottom-menu .bottom-icon{
    font-size: 25px;
    padding: 24px 0 0 0px;
    color: #fff;
    position: static;
}

.side-menu .footer .bottom-menu .bottom-icon .iconlink{
    color: #fff;
}

.side-menu .footer .bottom-menu .textlink{
    color: #fff;
}





