.header {
    background-color: #ffffff;
    height: 80px;
}

.logo{
    float: left;
    width: 200px;
    margin: 15px 5px 10px 20px;
}

.navigation{
    margin: 30px !important;
    font-size: 20px;
    color:#43428C !important;  
}

.login-button{
    position: absolute !important;
    right: 37px;
    top: 47px;
}

.save-button{

}