.box1 {
    position: absolute;
    height: 10%;
    width: 20%;
    top: 10px;
    left: 50%;
}

.box1 {
    position: absolute;
    height: 10%;
    width: 20%;
    top: 10px;
    left: 50%;
  }
  
  